body {
    background-color: #80205050;
}

h1 {
    color: rgb(90, 4, 18);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted red;
    margin: 20px;
}

.lasagna {
    width: 300px;
    height: auto;
    border: 2px solid rgb(44, 0, 0);
    margin: 20px;
    display: inline-flex;
    float: left;
}

.block {
    border: 10px solid rgb(250, 198, 241);
    margin: 20px;
    padding: 5px;
}

.description, .paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(13, 1, 29);
    font-style: italic;
    border: 2px solid rgb(177, 108, 108);
    display: inline-flex;
    border-style: dashed;
    width: 880px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(241, 202, 241);
}

.ingredients {
    margin-top: 50px;
    margin-left: 20px;
}

.paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(7, 7, 59);
    text-decoration: overline red;
    margin-top: -1px;
}

.product {
    width: 160px;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 10px;
    border-style: outset;
    color: rgb(121, 22, 4);
}

.food {
    list-style-type: square;
    list-style-position: inside;
    color:darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 18px;
    border: 2px solid rgb(250, 230, 230);
    border-radius: 10px;
    width: 350px;
    margin: 20px;
    padding: 10px;
    border-style: ridge;
    background-color: rgb(241, 202, 241); 
}

.method {
    line-height: 18px;
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(2, 34, 2);
    list-style-type: lower-roman;
    list-style-position: inside;
    border: 2px solid rgb(250, 230, 230);
    border-radius: 10px;
    width: 700px;
    height: 400px;
    overflow-y: scroll;
    margin: 20px;
    padding: 10px;
    border-style: ridge;
    display: inline block;
    float: right;
    background-color: rgb(241, 202, 241); 
}


