body {
    background-color: rgb(240, 170, 170);
    text-align: center;
    width: 690px;
    border: 5px solid rgb(1, 46, 1);
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    color: rgb(56, 2, 56);
}

h3 {
    max-width: fit-content;
}

div.time {
    vertical-align: top;
    font-size: 14px;
    text-align: relative;
    float: left;
}

img {
    width: 250px;
    float: left;
    padding: none;
    margin: 20px;
    margin-right: 40px;
    border: 12px solid rgb(65, 4, 4);
}

ul, .ing {
    list-style-position: outside;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}

h1 {
    color:rgb(56, 2, 56);
    text-shadow: 5px 5px 8px rgb(247, 72, 72);
    text-decoration: underline double violet;
}

.intro {
    color: rgb(102, 1, 1);
    text-decoration: overline green;
}

#ing {
    color: rgb(1, 46, 1);
    text-shadow: 5px 5px 10px rgb(218, 233, 134);
    text-decoration: underline dotted brown;
    text-align: left;
    padding-left: 15px;
}

.method {
    text-align: center;
}

ol {
    list-style: none;
    text-align: left;
    color: rgb(65, 17, 17);
}

.boxone {
    border: 1px solid rgb(68, 1, 1);
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    height: 250px;
    float: right;
    background-color: pink;
}

.boxtwo {
    border: 1px solid rgb(68, 1, 1);
    margin: auto;
    padding: 15px;;
    background-color: pink;
    width: 620px;
    height: 300px;
    overflow-y: scroll;
}