h1 {
    color: #802030;
    width: 200px;
    text-align: center;
    border-radius: 200px;
    border-style: double; 
    border-color: deeppink;
    background-color: #30303040;
}

.list {
    color: darkgreen;
    font-size: 20px;
    width: 160px;
    border-style: groove;
}
